.bottom-btn-fixed {
  position: fixed;
  bottom: 100px;
  left: 10%;
  width: 80%;
  border-radius: 50px;
  background-color: #FFA702;
  color: #fff;
}

.bottom-btn {
  margin: 20px 10%;
  width: 80%;
  border-radius: 4px;
  background-color: #FFA702;
  color: #fff;

  &.btn-cancel {
    background-color: #fff;
    color: #FFA702;
    border: 1px solid #FFA702;
    margin-bottom: 15px;
  }

}

.bottom-btn-stackable {
  margin: 10px;
  width: 80%;
  border-radius: 50px;
  background-color: #FFA702;
  color: #fff;

  &.btn-cancel {
    background-color: #fff;
    color: #FFA702;
    border: 1px solid #FFA702;
    margin-bottom: 15px;
  }
}

.bottom-btn-boxed {
  margin-top: 15px;
  width: 80%;
  border-radius: 4px;
  background-color: #FFA702;
  color: #fff;

  &.btn-cancel {
    background-color: #fff;
    color: #FFA702;
    border: 1px solid #FFA702;
    margin-bottom: 15px;
  }
}

.disabled {
  background-color: #DCDCDC;
  color: #929292;
}
