.bottom-btn-fixed {
  position: fixed;
  bottom: 100px;
  left: 10%;
  width: 80%;
  border-radius: 50px;
  background-color: #053c5e;
  color: #fff;
}

.bottom-btn {
  margin: 20px 10%;
  width: 80%;
  border-radius: 4px;
  background-color: #053c5e;
  color: #fff;

  &.btn-cancel {
    background-color: #fff;
    color: #053c5e;
    border: 1px solid #053c5e;
    margin-bottom: 15px;
  }

}

.bottom-btn-stackable {
  margin: 10px;
  width: 80%;
  border-radius: 50px;
  background-color: #053c5e;
  color: #fff;

  &.btn-cancel {
    background-color: #fff;
    color: #053c5e;
    border: 1px solid #053c5e;
    margin-bottom: 15px;
  }
}


.bottom-btn-boxed {
  margin-top: 15px;
  width: 80%;
  border-radius: 4px;
  background-color: #053c5e;
  color: #fff;

  &.btn-cancel {
    background-color: #fff;
    color: #053c5e;
    border: 1px solid #053c5e;
    margin-bottom: 15px;
  }
}


  .bottom-btn-password {
    background-color: #053C5E;
    border-radius: 4px;
    width: 80%;
    position: fixed;
    left:0px;
    bottom: 30px;
    margin: 0 10%;
    color: #fff;
  }

  .disabled {
    background-color: #DCDCDC;
    color: #929292;
  }
