@import "../../assets//iconfont/iconfont.css";

@mixin fontFamily {
  font-family: HelveticaNeue, "Helvetica Neue", Avenir-Book, "Source Sans Pro", Helvetica,
    Arial, sans-serif !important;
}

html,
body {
  margin: 0;
  padding: 0;
  @include fontFamily;

  textarea::placeholder,
  input::placeholder {
    font-size: 16px;
    color: #87929d !important;
    letter-spacing: 0;
  }

  .van-tabbar-item__text {
    @include fontFamily;
  }


  .van-button--disabled {
    background: #E9EBED !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10) !important;
    color: #87929D !important;
  }

  .van-nav-bar {
    height: 44px;
    line-height: 44px;

    .iconfont {
      font-size: 24px;
      position: relative;
      top: 4px;
    }
  }


}


.center {
  text-align: center;
}

.web-nav {
  background: transparent !important;
  position: relative;
  top: 10px;

  .van-icon,
  .van-nav-bar__text {
    color: #dcdcdc !important;
  }

  .van-nav-bar__title {
    left: 0 !important;
  }
}

.forgotWrapper,
.welcomeWrapper {

  // change width of one box
  .van-password-input__security {
    width: 75%;
  }
}

.forgotWrapper,
.enterOtpWrapper,
.welcomeWrapper {

  // create new border
  .van-hairline {
    border: 1px solid #929292;
    border-radius: 4px;
    margin-right: 10px;
    max-width: 40px;
    max-height: 40px;
    box-sizing: border-box;
  }

  //change the original border to white
  .van-hairline::after,
  .van-hairline--surround::after {
    border: 0px solid #ffffff;
  }

  .van-password-input__security li {
    line-height: 37px;
  }
}

// for landing page label
.itemlanding {
  .el-form-item__label {
    border: 0.0625rem solid #DCDFE6;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-right: 0;
  }
}


// for enterotp, enterpassword and forgotpassword page
.enterotp,
.forgotpassword,
.enterpassword {
  .el-form-item__label {
    background-color: #dcdcdc;
    border-color: #e4e7ed;
    border-radius: 4px;
    color: #929292;
    cursor: not-allowed;

    span {
      color: #929292;
    }
  }

  .el-input {
    margin-left: 15px;
  }

  .el-input__inner {
    background-color: #dcdcdc !important;
    border-color: #e4e7ed;
    border-radius: 4px !important;
    color: #929292 !important;
    cursor: not-allowed;
    width: 93%;
    font-size: 14px;
  }
}

.box {
  width: 80%;
  padding: 33px 0;
  margin-left: 10%;
  border: 1px solid #FF8600;
  margin-top: 20px;
  border-radius: 60px;
  font-size: 17px;
  color: #FF8600;
}

.el-input--small .el-input__inner {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.van-nav-bar .van-icon,
.van-nav-bar__text {
  color: #929292;
}

.bottom-btn {
  border-radius: 50px;
  background-color: #FF8600;
  color: #fff;
}


.el-form--label-top label.el-form-item__label {
  // margin-left: 10%;
  padding: 0;
}

.spec-mobile.el-form-item--small .el-form-item__content {
  display: inline-block;
}

.van-button.van-button--primary {
  background-color: #ffffff;
  border: 1px solid #FF8600;
  color: #FF8600;
  border-radius: 50px;
}

.van-checkbox__label {
  color: #606266;
  margin-left: 0;
  position: relative;
  top: -22px;
  left: 22px;
  font-size: 13px;
}

.van-checkbox__icon--round .van-icon {
  width: 16px;
  height: 16px;
  line-height: 16px;
}

.el-step__icon.is-text {
  border: 0 !important;
}

.el-step__line {
  width: 70%;
  margin-left: 15%;
}

.el-step__main {
  .el-step__title {
    color: #929292;
    font-size: 11px;
    font-weight: normal !important;
  }

  .el-step__title.is-process,
  .el-step__title.is-finish {
    color: #26c485;
    border-color: #26c485;
  }
}

.el-step .el-step__head.is-finish {
  border-color: #26c485;
}

.el-step__head.is-finish .el-step__line {
  background-color: #26c485;
}

#app {

  // modify van steps style
  .el-step__title {
    font-size: 12px;
    letter-spacing: 0;
    text-align: center;
    line-height: 20ssspx;
  }

  // modify textarea style in enter-info
  .enter-info .el-textarea__inner {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
  }

  .van-button {
    border-radius: 4px;
  }

  .van-nav-bar {
    background: #FF8600;

    .van-icon,
    .van-nav-bar__text {
      font-size: 16px;
      color: #FFFFFF;
      letter-spacing: 0;
    }

    .van-nav-bar__title {
      font-size: 16px;
      color: #FFFFFF;
      letter-spacing: 0;
      text-align: left;
      position: relative;
      left: -30px;
    }

  }
}